{# Nunjucks Templating! Homepage: https://mozilla.github.io/nunjucks/ Docs: https://mozilla.github.io/nunjucks/api.html #}
{% extends 'layouts/application.html' %} {% block content %}

<!-- <div id="main">
</div> -->

<div class="c-login">
    <header class="c-login__header">
        <a href="#" class="c-icon  c-icon--big  c-icon--white  c-text--huge  c-text--white">{{sprite("asana")}}
            <span>asana</span>
        </a>
    </header>

    <div class="c-login__body">
        <h2 class="c-text  c-text--huge  c-text--mirage">Log In</h2>
        <button class="c-btn  c-btn--filled">Use Google Account</button>

        <div class="c-login__divider  c-text--large">or</div>

        <form action="submit" class="c-login__form">
            <label class="c-text  c-text--small  c-text--gray" for="">EMAIL ADDRESS</label>
            <input type="email">

            <label class="c-text  c-text--small  c-text--gray" for="">PASSWORD</label>
            <input type="password">

            <a href="" class="c-text--small  c-text--gray  c-text--anchor  c-btn">Forgot your password? </a>

            <button class="c-btn  c-btn--filled  c-btn--right  is--disabled">Log In</button>

        </form>
    </div>

    <footer class="c-login__footer">

        <div>
            <span class="c-text--white">Don't have an account?</span>
            <button class="c-btn  c-btn--transparent">Sign Up</button>
        </div>

        <nav>
            <ul class="o-list-inline  c-login__list">
                <li class="o-list-inline__item">
                    <a href="http://asana.com" target="_blank" class="c-text--white  c-text--anchor">About Asana</a>
                </li>
                <li class="o-list-inline__item">
                    <a href="http://asana.com/blog" target="_blank" class="c-text--white  c-text--anchor">Blog</a>
                </li>
                <li class="o-list-inline__item">
                    <a href="http://asana.com/jobs" target="_blank" class="c-text--white  c-text--anchor">Jobs</a>
                </li>
                <li class="o-list-inline__item">
                    <a href="http://asana.com/help" target="_blank" class="c-text--white  c-text--anchor">Help</a>
                </li>
                <li class="o-list-inline__item">
                    <a href="http://asana.com/terms" target="_blank" class="c-text--white  c-text--anchor">Terms</a>
                </li>
            </ul>
        </nav>
    </footer>
</div>

{% endblock %}