{# Nunjucks Templating! Homepage: https://mozilla.github.io/nunjucks/ Docs: https://mozilla.github.io/nunjucks/api.html #}
{% extends 'layouts/application.html' %} {% block content %}
<div class="c-app">

  <div class="c-list">

    <div class="c-list__header">
      <button class="c-btn  c-btn--primary">Add Task</button>
      <button class="c-btn  c-btn--secondary">Add Section</button>
      <button class="u-button-reset  c-list__icon">{{sprite("equalizer")}}</button>
    </div>

    <div class="c-list__body">

      <div class="c-taskitem">
        <div class="c-taskitem--left">
          <button class="u-button-reset c-icon c-icon--hidden">{{sprite("grid")}}</button>
        </div>
        <div class="c-taskitem--right">
          <button class="u-button-reset c-icon">{{sprite("checkmark2")}}</button>
          <textarea class="c-taskitem--item" placeholder=""></textarea>
          <button class="u-button-reset c-icon c-icon--hidden">{{sprite("circle")}}</button>
        </div>
      </div>

      <!-- dummy block -->
      <div class="c-taskitem">
        <div class="c-taskitem--left">
          <button class="u-button-reset c-icon c-icon--hidden">{{sprite("grid")}}</button>
        </div>
        <div class="c-taskitem--right">
          <button class="u-button-reset c-icon">{{sprite("checkmark2")}}</button>
          <textarea class="c-taskitem--item" placeholder=""></textarea>
          <button class="u-button-reset c-icon c-icon--hidden">{{sprite("circle")}}</button>
        </div>
      </div>

    </div>

  </div>

  <div class="c-form">
    <div class="c-form__overflow">

      <div class="c-form__editable">
        <div class="c-forminput">
          <div class="c-forminput__project">
            <input class="c-forminput__text" type="text" placeholder="Add to a Project" onblur="this.value=''" />
            <button class="u-button-reset c-icon">Add to a Project</button>
          </div>

          <div class="c-forminput__task">
            <button class="u-button-reset c-icon">{{sprite("checkmark2")}}</button>
            <input class="c-forminput__text" type="text" placeholder="Write a task name" />
          </div>

          <div class="c-forminput__desc">
            <button class="u-button-reset c-icon--static">{{sprite("text")}}</button>
            <textarea class="c-forminput__text" type="text" placeholder="Description" onfocus="this.placeholder=''" onblur="this.placeholder='Description'"></textarea>
          </div>
        </div>
      </div>

      <div class="c-form__info">
        <div class="c-detail">
          <div class="c-detail__time">

            <p class="c-detail__text">Task created.
              <b>10:24</b>
            </p>

            <p class="c-detail__text">Assigned to you.
              <b>10:24</b>
            </p>

          </div>

          <div class="c-detail__comment">
            <div class="c-comment">
              <div class="c-comment__header">
                <div class="o-avatar">
                </div>
              </div>

              <div class="c-comment__body">
                <div class="c-comment--user">
                  <p class="c-comment--text">
                    Xavier Ang
                    <span class="c-comment--text_weak">Today at 16:19</span>
                  </p>
                </div>
                <div class="c-comment--content">
                  <p class="c-comment--text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </p>
                </div>
              </div>

            </div>

            <!-- dummy block -->
            <div class="c-comment">
              <div class="c-comment__header">
                <div class="o-avatar">
                </div>
              </div>

              <div class="c-comment__body">
                <div class="c-comment--user">
                  <p class="c-comment--text">
                    Xavier Ang
                    <span class="c-comment--text_weak">Today at 16:19</span>
                  </p>
                </div>
                <div class="c-comment--content">
                  <p class="c-comment--text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </p>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="c-form__comment">
      <form class="c-formcomment">

        <div class="c-formcomment__header">
          <div class="o-avatar"></div>
        </div>

        <div class="c-formcomment__body">

          <textarea class="c-formcomment__body-top c-formcomment__text" type="text" placeholder="Write a comment..." onfocus="this.placeholder = ''"
            onblur="this.placeholder='Write a comment...'"></textarea>

          <div class="c-formcomment__body-btm">
            <button type="submit" class="c-formcomment__btn">Comment</button>
          </div>

        </div>


      </form>
    </div>

  </div>
</div> {% endblock %}