.o-avatar {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-size: cover;
  background-image: url("https://s3.amazonaws.com/profile_photos/519184603482561.DjLzLNv8is1NyfgrVTGA_60x60.png");
  border-radius: 50%;
}
