.o-flex {
  display: flex;
  height: 100vh;
  min-height: 100vh;
  flex-direction: column;
  @include mq($from:tablet) {
    flex-direction: row;
    justify-content: center;
  }
}

.o-flex--section {
  padding: 10px;
  flex: 1;
  display: flex;
  @include mq($from: tablet) {
    flex: 0.5 1 50%;
  }
}
