.o-flex {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  @include mq($from:tablet) {
    flex-direction: row;
  }
}

.o-flex--section {
  flex: 1;
  display: flex;

  &:first-child {
    margin-right: 20px;
    margin-bottom: -20px;
    @include mq($from:tablet) {
      margin-bottom: 0px;
      margin-right: 0px;
    }
  }
  @include mq($from: tablet) {
    flex: 1 1 50%;
  }
}
