.c-btn {
  box-shadow: none;
  border-radius: $global-radius;
  font: inherit;
  font-size: $global-font-size; //move to topo
  cursor: pointer;
  padding: 5px 14px 5px 14px;
  transition-duration: 0.5s;
  transition-property: border, background-color, color, opacity;
  outline: none;
}

//buttons with outline border
.c-btn--border {
  border: 1px solid $submarine;
  background-color: $white;
  color: $submarine;

  &:hover {
    background-color: $porcelain;
    border-color: $ebony-clay;
    color: $ebony-clay;
  }
}

.c-btn--transparent {
  background-color: transparent;
  color: $white;
  border: 1px solid $white;

  &:hover {
    background-color: $white;
    border-color: titan-white;
    color: $nevada;
  }
}

//buttons that has filled background
.c-btn--filled {
  background-color: $dodger-blue;
  border: 1px solid $dodger-blue;
  color: $white;
  margin: 10px;

  &:hover {
    border-color: $cerulean;
    background-color: $cerulean;
  }

  &:hover + .c-btn--hidden {
    opacity: 1;
  }

  &.is--disabled {
    cursor: default;
    background-color: $porcelain;
    border-color: $geyser;
    color: $submarine;
  }
}

//buttons that looks like a link
.c-btn--text {
  color: $regent-gray;
  text-decoration: underline dotted;
  border: none;
  &:hover,
  &:focus {
    color: $dodger-blue;
  }
}

//buttons that are hidden by default until activated
.c-btn--hidden {
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  &:hover {
    opacity: 1;
  }
}

.c-btn--right {
  display: block;
  margin: 0 0 0 auto;
}
