.c-taskitem {
  display: flex;
  height: 34px;
  margin-top: -1px;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  background: linear-gradient(
    to right,
    $aquamarine,
    $aquamarine 50%,
    $white 50%,
    $white
  );
  background-size: 200% 100%;
  background-position: 101% bottom;
  background-repeat: no-repeat;
  &:first-child {
    margin-top: 0px;
  }
  &:first-child:hover {
    border-top: 1px solid transparent;
    border-bottom: 1px solid $geyser;
  }
  &:hover {
    border-bottom: 1px solid $geyser;
    border-top: 1px solid $geyser;
    .c-icon--hidden {
      opacity: 1;
    }
  }
}

.c-taskitem--completed {
  animation-name: completed-gradient;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.c-taskitem--nohover {
  &:hover {
    border-color: transparent;
  }
}

.c-taskitem--left {
  flex: 0 0 30px;
  display: flex;
}

.c-taskitem--right {
  position: relative;
  flex: 1;
  margin: 0px 31px 0px 0px;
  height: 32px;
  display: flex;

  &:before {
    border-bottom: 1px solid $geyser;
    top: -1px;
    content: "";
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
  }

  &:after {
    border-bottom: 1px solid $geyser;
    bottom: -1px;
    content: "";
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
  }
}
