.c-icon {
  font-size: $global-font-size;
  color: $regent-gray;
  fill: $submarine;
  flex: 0 0 30px;
  outline: 0;
  &:hover {
    cursor: pointer;
    fill: $dodger-blue;
    color: $dodger-blue;
  }
  .sprite {
    height: 17px;
    display: block;
    svg {
      height: 17px;
    }
  }
}

.c-icon--hidden {
  opacity: 0;
}

.c-icon--static {
  outline: none;
  fill: $submarine;
  .sprite {
    height: 17px;
    display: block;
    svg {
      height: 17px;
    }
  }
}
