.c-icon {
  outline: 0;
  border: none;
  background-color: transparent;
  font: inherit;
  font-size: $global-font-size; //move to topo?
  cursor: pointer;
  fill: $submarine; //default icon color
  flex: 0 0 30px;
  transition-duration: 0.5s;
  transition-property: border, box-shadow, color, opacity;

  //default setting for svg icons
  .sprite {
    display: block;
  }

  &.is--completed {
    fill: $aquamarine;
  }
}

//ICONS SIZE VARIANTS

.c-icon--small {
  .sprite {
    height: 17px;
    width: 17px;
    svg {
      height: 17px;
      width: 17px;
    }
  }
}

.c-icon--big {
  .sprite {
    height: 25px;
    width: 25px;
    svg {
      height: 25px;
      width: 25px;
    }
  }
}

//ICONS COLOR VARIANTS
.c-icon--blue {
  &:hover {
    fill: $dodger-blue;
    color: $dodger-blue;
  }
}

.c-icon--aquamarine {
  &:hover {
    fill: $aquamarine;
    color: $aquamarine;
  }
}


.c-icon--white {
  fill: $white;
}

//ICONS POSITION VARIANTS
.c-icon--right {
  margin: 0 0 0 auto;
}

//ICONS HIDDEN UNTIL HOVERED
.c-icon--hidden {
  opacity: 0;
}
