.c-detail {
  margin-left: $inuit-global-spacing-unit;
  margin-right: $inuit-global-spacing-unit;
  padding-left: $inuit-global-spacing-unit-large;
  padding-right: $inuit-global-spacing-unit-large;
  .c-text {
    margin-bottom: $inuit-global-spacing-unit-tiny;
  }
}

.c-detail__comment {
  margin-left: -$inuit-global-spacing-unit-large;
}
