.c-list {
  margin: $inuit-global-spacing-unit;
  margin-right: 0px;
  border-radius: $global-radius $global-radius 0 0;
  box-shadow: $global-box-shadow;
  background-color: $white;
  flex: 1 1 50%;
}

.c-list__header {
  position: relative;
  border-radius: $global-radius $global-radius 0 0;
  box-shadow: $global-box-shadow;
  background-color: $white;
  padding: 10px $inuit-global-spacing-unit;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .c-btn--secondary {
    margin: auto 0 0 inherit;
  }
  .c-list__icon:active + .c-tooltip {
    display: block;
  }
}

.c-list__icon {
  fill: $regent-gray;
  margin: 0 0 0 auto;
  flex: 0 0 20px;
  padding: 3px;
  height: 20px;
  outline: none;
  &:hover {
    cursor: pointer;
    fill: $dodger-blue;
  }
}
