.c-formcomment {
  display: flex;
  padding: 10px $inuit-global-spacing-unit;
  .c-avatar {
    margin-right: 10px;
  }
}

.c-formcomment__header {
  flex: 0 0 30px;
}

.c-formcomment__body {
  flex: 1;
  background-color: $white;
  border: 1px solid $geyser;
  border-radius: $global-radius;
}

.c-formcomment__body-btm {
  transition: max-height 0.5s;
  overflow: hidden;
  max-height: 0;
  border-top: 1px dotted transparent;
  margin-top: -1px;
  display: flex;
  justify-content: flex-end;
}

.c-formcomment__text {
  vertical-align: top;
  position: relative;
  cursor: text;
  outline: none;
  overflow: hidden;
  resize: none;
  padding: 10px;
  font-size: $global-font-size;
  height: 34px;
  width: 100%;
  border: 0;
  transition: height 0.5s;
  &:focus {
    height: calc(22px + (5 * #{$global-font-size}));
    + .c-formcomment__body-btm {
      max-height: 55px;
      border-color: $geyser;
      margin-top: 0;
    }
  }
}

.c-formcomment__btn {
  cursor: pointer;
  border: 0;
  box-shadow: none;
  background-color: $dodger-blue;
  border: 1px solid transparent;
  border-radius: $global-radius;
  color: $white;
  font-size: $global-font-size;
  padding: 10px;
  height: 35px;
  width: auto;
  margin: 10px;
  &:hover {
    box-shadow: 0 0 0 3px $dodger-blue;
    border-color: $white;
  }
}
