.c-comment {
  display: flex;
  margin-top: $inuit-global-spacing-unit;
}

.c-comment__header {
  flex: 0 0 30px;
  margin-right: 10px;
}

.c-comment__body {
  flex: 1;
  &:hover .c-icon {
    opacity: 1;
  }
}

.c-comment--user {
  position: relative;
  .c-icon {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.c-comment--text {
  font-size: $global-font-size;
  margin: 0;
  padding: 0;
}

.c-comment--text_weak {
  opacity: 0.5;
}
