.c-btn {
  font: inherit;
  font-size: $global-font-size;
  cursor: pointer;
  margin: auto 0;
  padding: 5px 14px 5px 14px;
  color: $dodger-blue;
  border-color: $dodger-blue;
  border-radius: $global-radius;
  outline: none;
  transition-duration: 1s;
  transition-property: border, box-shadow, color;
  &:hover {
    border-color: $white;
    box-shadow: 0 0 0 3px $dodger-blue;
    color: $dodger-blue !important;
    fill: $dodger-blue;
  }
}

.c-btn--primary {
  &:hover + .c-btn--secondary {
    opacity: 1;
  }
}

.c-btn--secondary {
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.2s ease-in 0.2s;
  &:hover {
    opacity: 1;
  }
}
