.c-list {
}

.c-list__header {
  position: relative;
  border-radius: $global-radius $global-radius 0 0;
  box-shadow: $global-box-shadow;
  background-color: $white;
  padding: 10px $inuit-global-spacing-unit;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.c-list__body {
}
