.c-formcomment {
  display: flex;
  padding: 10px $inuit-global-spacing-unit;
}

.c-formcomment__text {
  flex: 1;
  cursor: text;
  outline: none;
  overflow: hidden;
  resize: none;
  padding: 10px;
  font-size: $global-font-size;
  line-height: $global-font-size;
  height: calc(22px + #{$global-font-size});
  border: 1px solid $geyser;
  background-color: $white;
  transition-property: height;
  transition-duration: 0.5s;
  &:focus {
    height: calc(22px + (8 * #{$global-font-size}));
    .c-formcomment__btn {
      display: block;
    }
  }
}

.c-formcomment__btn {
  margin-left: $inuit-global-spacing-unit;
  cursor: pointer;
  flex: 0 0 20px;
  background-color: $dodger-blue;
  border-color: $dodger-blue;
  border-radius: $global-radius;
  color: $white;
  font-size: $global-font-size;
  padding: 10px;
  height: 35px;
  align-self: flex-end;
}
