$global-radius: 3px;

$global-font-size: 13px;
$global-font-size-small: 10px;
$global-font-size-large: 24px;
$global-font-size-huge: 32px;

$global-transition-duration: 200ms;
$global-transition-timing-function: linear;
$global-transition: all $global-transition-duration
  $global-transition-timing-function;

$global-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
