$black: #000;
$white: #fff;

// Based off styleguide
$honest-fox: #ef5737; //example

$mirage: #151b26; //heading color

$solitude: #edf8ff;
$geyser: #e0e6e8; //hover border
$gray-chateau: #9ca6af; //focused border

$regent-gray: #848f99; //faded text 1.0
$oslo-gray: #848f96; //faded text 2.0

$dodger-blue: #32c1ff; //c-btn--filled
$cerulean: #008ce3; //c-btn--filled:hover

$submarine: #b7bfc6; //c-btn--border
$porcelain: #f6f8f9; //c-btn--border:hover
$ebony-clay: #222b38; //c-btn--border:hover text

$titan-white: #f0f0ff; //c-btn--transparent:hover border
$nevada: #646f79; //c-btn--transparent:hover text

$aquamarine: #58f5d9; //c-icon (completed task color)

// ==========================================================================||
//  Colors included in $colors map will be used in utilities
// ==========================================================================||

$colors: ("honest-fox": $honest-fox);
