$black: #000;
$white: #fff;

// Based off styleguide
$honest-fox: #ef5737; //example
$dodger-blue: #32c1ff; //hover icon
$solitude: #edf8ff;
$geyser: #e0e6e8; //hover border
$gray-chateau: #9ca6af; //focused border
$submarine: #b7bfc6;
$regent-gray: #848f99; //faded text
$porcelain: #f6f8f9;
$aquamarine: #58f5d9;

// ==========================================================================||
//  Colors included in $colors map will be used in utilities
// ==========================================================================||

$colors: ("honest-fox": $honest-fox);
